* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
  }
  
  html {
    font-size: 62.5%;
    height: 100%;
  }
  
  body {
    color: #2b2b2b;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }
  

  /* CONTAINER */
  .container{
    max-width:130rem;
    margin:0 auto;
    width:100%;
    padding:1.5rem;
  }

  /* HEADER */
  .header{
    background:#2b2b2b;
    position:fixed;
    width:100%;
    padding: 2rem 0;
    display:flex;
    align-items:center;
    text-align:center;
    z-index:999
  }
  .header__wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between
  }

  .branding{
    display:flex;
    align-items:center;
    width:350px;
    justify-content:space-between
  }
  .branding__text{
    width:250px;
    display:flex;
    justify-content:space-around;
    font-size:2.5rem;
    font-weight:700 
  }
  .branding__text h2:first-child{
    color:white;
  }
  .branding__text h2:nth-child(2){
    color:#ffa700
  }
  .branding__text h2:last-child{
    color:white
  }
  .header__nav ul{
    display:flex;
  }

  .header__nav ul li{
    padding: 1.5rem 2rem
  }

  .header__nav ul li a{
    color:#ffffff;
    font-size:2rem;
    font-weight:300;
  }

  .header__nav ul li a:hover{
    color:#ffa700
  }

  .header__nav img{
    display:none
  }

  .burgir__menu{
    display:none;
  }

  .burgir__menu span{
    width:2.5rem;
    height:.3rem;
    background-color:#ffffff;
    display:block;
    border-radius:5rem;
    transition:.5s ease
  }
  .burgir__menu.open .menu span:last-child{
    display:flex;
    position:fixed;
    transform:rotate(-225deg)
  }
  .burgir__menu.open span:first-child{
    transition:.5 ease;
    transform:translate(0,10px) rotate(225deg);

  }

  .burgir__menu.open span:nth-child(2){
    opacity:0;
    transition:.5 ease
  }
  .burgir__menu.open span:nth-child(3){
    transition:.5 ease;
    transform:translate(0,-2.5px) rotate(-225deg);
  }

  @media screen and (max-width:560px){
    .header{
      background:#2b2b2b;
      margin-top:0;
    }
    .header__nav{
    position:absolute;
    background:#2b2b2b;
    right:-100rem;
    top:0;
    width:100%;
    height:100vh;
    padding-top:15rem;
    transition: .5s linear;
    }
    .header__nav.open{
      right:0;
      transition: .5s linear;
    }

    .burgir__menu{
      display:flex;
      flex-direction:column;
      gap:.3rem;
      z-index:999
    }
    
    .header__nav ul{
      display:flex;
      flex-direction:column;
      text-align:center;
    }
    .header__nav ul li{
      width:20rem;
      margin: 0 auto;
    }
    .header__nav ul li a{
      font-size:3rem;
    }
    .header__nav img{
      display:block;
      margin:0 auto;
      width:fit-content;
      margin-bottom: 5rem;
    }
  }
  /* BANNER */
  .banner{
    height:120vh;
    background:#ffffff;
    display:flex;
    align-items:center;
    justify-content:space-between;
  }

  .banner__wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
  }
  .banner__img{
    width:700px;
  }

  .banner__text h1 {
    font-size:7rem;
    font-weight:800;
    color:#ffa700;
    width:200px;
    margin: 3rem 0;
  }

  .banner__text p{
    text-align:justify;
    color:#2b2b2b;
    width:400px;
    font-size:2rem;
    font-weight:300;
    margin:3rem 0;
  }

  .banner__text a{
    display:flex;
    text-align:center;
    margin-top: 3rem;
    justify-content:center;
    transition:.5s ease
    }

    .banner__text a:hover{
      scale:1.1;
      transition:.5s ease;
      background:transparent;
      border:2px solid #ffa700;
      color:#ffa700;
    }
  @media screen and (max-width:560px){
    .banner__img{
      display:none;
    }
    .banner__wrapper{
      display:flex;
      flex-direction:column;
      width:100%;
      margin: 0 auto;
    }
    
    .banner__text a{
      text-align:center;
      width:60%;
      margin:0 auto;
    }
  }


  /* SERVICES */
  .services{
    padding:5rem 0;
    background-color:#2b2b2b;
    display:flex;
    align-items:center
  }

  .services__wrapper{
    display:grid;
    grid-template-columns:2fr 2fr 2fr;
    grid-gap:1rem;
    text-align:center;
    
  }
  .services__card{
    padding: 3rem 3rem 0rem 3rem;
    height:600px;
    border-top-left-radius:2rem;
    border-top-right-radius:2rem;
    position:relative;
    transition: 0.5s ease;
    gap:1rem
  }
  .services__card i{
    color:#ffa700;
    font-size:7rem;
    padding:5rem
  }

  .services__card h4{
  font-size:2rem;
  font-weight:600;
  margin-bottom:3rem;
  color:#ffa700;
  align-items:center
  }
  .services__card p{
    color:white;
    font-size: 1.8rem;
    text-align:justify;
  }
  .services__card a{
    scale:0;
    position:absolute;
    bottom:0;
    left:20%
  }

  .services__card:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    scale:1.1;
    transition:.5s ease;
  }
  .services__card:hover a{
    scale:1.1;
      background:transparent;
      border:2px solid #ffa700;
      color:#ffa700;
      transition:1s ease;
      transform:translate(0,-5rem) rotate(1440deg);
  }
  @media screen and (max-width:560px){
    .services__wrapper{
      display:grid;
      grid-template-columns:1fr;
      gap:5rem
    }
    
    
  }

  /* ABOUT */
  .about{
    display:flex;
    align-items:center;
    height:80vh;
  }
  .about__wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
  }
  .about__content h2{
    color:#ffa700;
    font-size:5rem;
    font-weight:600;
    max-width:30rem;
    margin-bottom:5rem
  }
  .about__content p{
    max-width:70rem;
    margin-bottom:3rem;
    font-size:2rem;
    font-weight:300;
    text-align:justify;
  }
  
  @media screen and (max-width:560px){
    .about{
      height:110vh;
    }
    .about__wrapper{
      display:grid;
      grid-template-columns:1fr
    }
    .about__content h2{
      width:100%;
      margin:0 auto 0 10rem;
    }

  }
  /* TRENDS */
  .trends{
    background-color:#2b2b2b;
    height:80vh;
    display:flex;
    align-items:center
  }
  .trends__title{
    margin-bottom:8rem;
  }
  .trends__title h2{
    color:#ffa700;
    font-size:5rem;
    font-weight:700
  }
  
  .trends__title p{
    color:white;
    font-size:2rem;

  }
  .trends__content{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
  }
  .trends__card{
    width:30rem;
    border-radius:3rem;
    background-color:#ffffff;
    align-items:center;
    height:420px;
    margin:0 auto;
  }
  .trends__card h4{
    color:#ffa700;
    padding:2rem;
    font-size:2rem;
    font-weight:700
    }
  .trends__card p{
    padding:2rem;
    text-align:justify;
    font-size:1.5rem;
    font-weight:300
  }

  .trends__card a{
    color:#ffa700;
    padding:0 2rem;
    font-weight:550;
    transition:.5s ease
  }
  .trends__card:hover{
    scale:1.1;
    transition:.5s ease
  }
@media screen and (max-width:560px){
  .trends{
    height:160vh
  }
  .trends__wrapper{
    display:flex;
    flex-direction:column;
    position:relative;
  }
  .trends__title{
    width:70%;
    margin:0 auto;
  }
  .trends__title h2{
    width:50rem
  }
  .trends__title p{
    width:100;
    margin:0 auto;
  }
  .trends__content{
    gap:5rem;
    display:flex;
    flex-direction:column;
  }
  
}
  /* CONTACT */
  .contact{
    background-color:#ffa700;
    display:flex;
    flex-direction:column;
    text-align:center
  }
  .contact__wrapper{
    padding:5rem 0
  }
  .contact__text h4{
    font-size:3rem;
    font-weight:700;
  }
  .contact__text p{
    font-size:2rem;
    margin-bottom:1rem
  }
  .contact__btn a{
    font-size:2rem;
  }

  .btn.bg--gray{
    font-weight:300 !important;
  }
  
  /* FOOTER */
  .footer{
    width:100%;
    background-color:#2b2b2b
  }
  .footer__wrapper{
    display:flex;
    justify-content:space-between;
    padding: 3rem 0;
  }
  .footer ul{
    display:flex;
    align-items:center;
    gap:3rem
  }
  .footer ul li a i{
    color:#ffffff;
    font-size:2.5rem
  }
  .footer p{
    color: #d3d3d3
  }
  @media screen and (max-width:560px){
    .footer__wrapper{
      display:grid;
      grid-template-columns:1fr;
      text-align:center
    }
    .footer__wrapper ul{
      justify-content:center
    }
  }

  /* UPDATE BANNER */
  .update__banner{
    background:#ffffff;
    padding:15rem 0 7rem 0;
  }
.update__right{
  width:400px;
}
  .update__wrapper{
    display:grid;
    grid-template-columns:1.5fr 1fr;
  }

  .update__one{
    border-bottom:2px solid #f6f6f6;
    padding-bottom:7rem;
    width:70rem;
  }
  .update__two{
    border-bottom:2px solid #f6f6f6;
    padding-bottom:5rem;
    width:70rem;
  }
  .update__two img{
    padding-top:2rem
  }
  .update__banner__img{
    margin-top:rem;
  }
  .upd__banner__content{
    margin-bottom:5rem
  }
  .upd__banner__content h1{
    color:#ffa700;
    font-size:7rem;
    font-weight:700;
  }
  .upd__banner__content p{
    font-size:2.5rem
  }
  .update__author ul{
    display:flex;
    justify-content:space-between;
    gap:5rem;
    margin:1rem;
    font-size:1.3rem;
    font-weight:600;
    width:50rem
  }
  .update__author ul li{
    display:flex;
    justify-content:space-between;
  }
  
  .update__author ul li i{
    padding-right:1rem;
  }

  .update__categories{
    border-bottom:2px solid #f6f6f6;
    padding-bottom:5rem;
  }

  .update__content h3{
    font-size:2.5rem;
    color:#ffa700;
    font-weight:700;
    margin-top:2rem;
    margin-bottom:2rem;
    width:70rem
  }
  .update__content p{
    font-size:1.8rem;
    font-weight:550;
    margin-bottom:3rem;
    width:70rem;
    text-align:justify;
    }

  .update__content a{
      color:#ffa700;
      font-size:1.8rem;
      font-weight:600;
    }
    .update__categories{
    height:357.3px;
    }
  
  .update__categories tr{
    display:flex;
    justify-content:space-between;
    width:30rem;
    line-height:2;
    font-size:2rem
  }
  .update__categories h2{
    color:#ffa700;
    font-size:3rem;
    font-weight:600;
    margin-bottom:3rem
  }
  
  .recent__details h3{
    font-weight:600
  }

  /* UPDATE RECENT */
  .recent__wrapper{
    border-bottom:2px solid #f6f6f6;
  }
  .recent__title{
    color:#ffa700;
    font-size:3rem;
    font-weight:600;
    margin-bottom:6.5rem;
    margin-top:7rem
  }
  .recent__card{
    display:flex;
    margin-bottom:3rem
  }
  .recent__card img{
    padding-bottom:3rem;
  }
  .recent__details{
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  margin-left:2rem;
  }
  /* TAGS */
  .tag__title{
    color:#ffa700;
    font-size:3rem;
    font-weight:600;
    margin:2rem 0;
  }
  .tag__btn a{
    margin:1rem;
    transition: .5s ease;
  }
  .tag__btn a:hover{
    transition: .5s ease;
    scale:1.1;
    background:#2b2b2b;
    color:white;
  }
  .tag__btn .btn.bg--primary{
    display:flex;
    justify-content:center;
    
  }
  /* ABOUT PROJECTS */
  .project__wrapper{
    background-color:#2b2b2b;
    width:100%;
    height:100vh;
  }
  .project__content{
    max-width:130rem;
    margin:0 auto;
    width:100%;
    padding:1.5rem;
  }
  .project__text h2{
    font-size:5rem;
    color:#ffa700;
    font-weight:600;
  }
  .project__text p{
    color:white
  }
  .project__cards{ 
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
  } 

  /* REPEATABLE PATTERNS */
  .btn{
    display:inline-block;
    padding:1.5rem 2rem;
    color:white;
    font-weight:600;
    border: 2px solid transparent;
    border-radius:5rem;
    width:25rem;
    font-size:2rem;
    transition: 0.5s ease;
  }
  .card{
    width:35rem;
    border-radius:3rem;
    background-color:#ffffff;
    align-items:center;
    height:420px;
    margin:0 auto;
    display:flex;
  }

  .btn.bg--primary{
    background-color:#ffa700;
  }

  .btn.bg--gray{
    background-color:#2b2b2b
  }

  .btn.bg--transparent{
    border:1.5px solid #2b2b2b;
    color:#2b2b2b;
    width:fit-content
  }
